h1{
    color:blueviolet;
}
#first{
    color: rgb(57, 198, 95);
}
/* CÁCH GỌI CLASS
  .NAMEOFCLASS */
/* KHAI BÁO BIẾN*/
:root{
    --text-color:violet;
    /* Đặt ở đây thì sẽ là biến global */
}
body{
    --mycolor:green;
    /* đây là biến local */
    color: var(--mycolor);
}
.box{
   background-color: red;
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 20px solid coral;
   margin-top: 100px;
}
.box2{
    background: rgb(57, 198, 95);
    width: 100px;
    height: 100px;
    padding: 35px;
    border: 10px;
    margin: 20px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 30px;
    background-color: #333;
    top: 0;
    position: fixed;
}
.box2:first-child {
   background-color: #333;
}
h1:first-child {
color: black;
}
li:first-child{
    color: red;
}
li:last-child{
    color: blue;
}
.box2::after{
    content: "hello";
    display:block;
    width: 20px;
}
.box2::first-letter{
    color: aqua;
}
h1{
    position: relative;
    top: 100px;
}
/* CSS UNIT
1.ASBOLUTE UNIT
px
pt
cm
mm
inch
pc
2.RELATIVE UNIT
%(phụ thuộc vào trang web)
rem(phụ thuộc vào thẻ html)
em(phụ thuộc vào thẻ cha gần nhất chứa nó)
vw
vh
vmin
vmax
ex
ch */
/* BOX SIZING
TỰ ĐỘNG TÍNH TOÁN ĐỂ CĂN CHỈNH */
/* background-clip: đổ màu từ phần nào đó(border,padding,content) */
/* background-image */
/* background-size keyword:contain & cover */
/* background-origin cũng tương tự như background-clip
 nhưng thay vì đổ màu background thì giờ sẽ là image background */
/* CSS pseudo element 
::before
::after
::first-line
::first-letter
::selection
*/
/* CSS POSITION
relative
absolute(phụ thuộc vào thẻ cha của nó)
fixed
sticky(Không khuyến khích sử dụng) */